//sass scss/search.scss:css/search.css

@use 'base';
@use 'footer';
@use 'header';
@use 'productGrid';
@use 'searchForm';

.search-head {
  display: flex;
  max-width: 1800px;
  margin-inline: auto;
  align-items: center;
  margin-bottom: 40px;

  h1 {
    margin-left: 50px;
  }

  @media (max-width: 900px) {
    flex-direction: column;

    h1 {
      margin-left: 0;
    }
  }
}